@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Pacifico&family=Source+Sans+3:wght@200&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
} 

.hero-bg{
    
}